Repository RanielliMontagna/tab-switch: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typescript

lefthook.yml:

# Lefthook configuration
# Runs checks before git commits to ensure code quality

pre-commit:
  parallel: true
  commands:
    # Run Biome check (lint + format) on staged files
    biome:
      run: pnpm biome check --write {staged_files}
      stage_fixed: true
      glob: "*.{ts,tsx,js,jsx,json}"
      exclude: "{package-lock.json,yarn.lock,pnpm-lock.yaml,*.min.js}"

    # TypeScript type checking (only on staged TS files)
    typescript:
      run: pnpm tsc --noEmit
      glob: "*.{ts,tsx}"
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    # Full Biome check on all files before push
    biome-full:
      run: pnpm biome check .

    # Build check to ensure project compiles
    build:
      run: pnpm build

feat: update tailwind css integration and configuration; add @tailwindcss/vite plugin, migrate theme settings to globals.css, and remove tailwind.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/styles/globals.css
  tailwind.config.js
  tsconfig.node.json
  vite.config.ts
Due: biome, typescript

feat: add initial project configuration and documentation; include release-please setup, changelog, and roadmap for improvements
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .release-please-config.json
  CHANGELOG.md
  README.md
  package.json
Due: biome

feat: integrate testing framework and coverage reporting; add Vitest configuration, implement test cases for hooks and utilities, and update CI workflow for coverage uploads
  .github/workflows/ci.yml
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  src/hooks/__tests__/use-debounce.test.ts
  src/hooks/__tests__/use-keyboard-shortcut.test.ts
  src/test/setup.ts
  src/utils/__tests__/cn.test.ts
  src/utils/__tests__/masks.test.ts
  src/utils/__tests__/retry.test.ts
  src/utils/__tests__/url.test.ts
  tsconfig.node.json
  vitest.config.ts
Due: biome, typescript

feat: refactor theme initialization to a separate module; update index.html to load theme-init.ts and enhance content security policy in manifest.json
  index.html
  public/manifest.json
  src/theme-init.ts
Due: biome, typescript

feat: add translation validation script and integrate into CI workflow; update README with new command and enhance package.json scripts
  .github/workflows/ci.yml
  README.md
  package.json
  pnpm-lock.yaml
  scripts/validate-translations.ts
Due: biome, typescript

feat: update package dependencies and improve interval validation in new tab schema; refactor useHome to handle interval parsing and validation
  package.json
  pnpm-lock.yaml
  src/containers/home/home.schema.ts
  src/containers/home/useHome.ts
Due: biome, typescript

feat: enhance internationalization support by adding language selection and validation messages in English and Portuguese; implement custom error handling for Zod validation
  public/locales/en/translation.json
  public/locales/pt/translation.json
  src/containers/home/home.schema.ts
  src/containers/home/home.tsx
  src/hooks/index.ts
  src/hooks/use-language.ts
  src/libs/i18n.ts
  src/libs/storage.ts
  src/libs/zod-i18n.ts
Due: biome, typescript

refactor: simplify validation messages in English and Portuguese translations for clarity and consistency
  public/locales/en/translation.json
  public/locales/pt/translation.json
  src/libs/zod-i18n.ts
Due: biome, typescript

feat: implement centralized logging utility to replace console statements across the application; enhance error handling and improve code maintainability
  src/background.ts
  src/components/ErrorBoundary.tsx
  src/containers/home/useHome.ts
  src/hooks/use-language.ts
  src/libs/i18n.ts
  src/libs/logger.ts
  src/libs/migrations.ts
  src/libs/storage.ts
Due: biome, typescript

feat: add manifest validation script and enhance CI workflow; include new validation command in package.json and integrate manifest validation into CI process
  .github/workflows/ci.yml
  package.json
  public/favicon/site.webmanifest
  scripts/validate-manifest.ts
  src/components/customInput/customInput.tsx
  src/containers/home/home.tsx
  src/hooks/index.ts
  src/hooks/use-table-keyboard-navigation.ts
  src/utils/index.ts
  src/utils/sanitize.ts
Due: biome, typescript

feat: enhance switch functionality in HomeComponent; add loading and tab validation for switch state, improve error handling and logging in handleCheckedChange
  src/containers/home/home.tsx
  src/containers/home/useHome.ts
Due: biome, typescript

feat: refactor tab management and rotation logic; extract tab operations, rotation control, and import/export hooks to improve code organization and maintainability
  src/background.ts
  src/containers/home/useHome.ts
  src/hooks/index.ts
  src/hooks/use-rotation-control.ts
  src/hooks/use-tab-import-export.ts
  src/hooks/use-tab-operations.ts
  src/hooks/use-table-keyboard-navigation.ts
  src/libs/tab-management.ts
  src/libs/tab-rotation.ts
Due: biome, typescript

feat: implement health check and security validation features; add health check hook, URL security checks, and data integrity validation utilities to enhance extension reliability and security
  README.md
  docs/API.md
  src/hooks/index.ts
  src/hooks/use-health-check.ts
  src/hooks/use-rotation-control.ts
  src/hooks/use-tab-import-export.ts
  src/libs/health-check.ts
  src/libs/logger.ts
  src/libs/tab-management.ts
  src/utils/index.ts
  src/utils/integrity.ts
  src/utils/rate-limiter.ts
  src/utils/url-security.ts
Due: biome, typescript

chore: update screenshot asset
  public/screenshot.png
Due: none

feat: add virtual list hook and Profiler component for performance optimization; implement lazy loading for non-critical components in App and enhance Vite configuration for better chunk management
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/Profiler.tsx
  src/components/index.ts
  src/hooks/index.ts
  src/hooks/use-virtual-list.ts
  vite.config.ts
Due: biome, typescript

feat: add background bundling plugin to Vite configuration; enhance chunk management for background script and improve file handling in useTabImportExport hook
  src/hooks/use-tab-import-export.ts
  vite.config.ts
Due: biome, typescript

feat: refactor background bundling logic into a dedicated Vite plugin; update TypeScript configuration to include new plugin directory
  tsconfig.node.json
  vite-plugins/background-bundle.ts
  vite.config.ts
Due: biome, typescript

feat: implement JSON import functionality; add drag-and-drop support, paste import modal, and localization for import actions
  index.html
  public/locales/en/translation.json
  public/locales/pt/translation.json
  src/containers/home/home.tsx
  src/containers/home/useHome.ts
  src/hooks/use-tab-import-export.ts
Due: biome, typescript

feat: add esbuild dependency and update pnpm lockfile to include version 0.27.0 for improved build performance and compatibility
  package.json
  pnpm-lock.yaml
Due: biome

feat: add release-please manifest file for versioning management
  .release-please-manifest.json
Due: biome

docs: adjust logo image on readme
  README.md
Due: none

feat: enhance build process and notifications
  .github/workflows/release-please.yml
  package.json
  public/manifest.json
  src/@types/vite-env.d.ts
  src/@types/vitest.d.ts
  src/background/__tests__/index.test.ts
  src/background/index.ts
  src/components/__tests__/CustomInput.test.tsx
  src/components/__tests__/ErrorBoundary.test.tsx
  src/containers/home/__tests__/useHome.test.ts
  src/utils/index.ts
  src/utils/notifications.ts
  vite.config.ts
Due: biome, typescript

test: add comprehensive test suite for various utilities and hooks
  src/containers/home/__tests__/home.schema.test.ts
  src/containers/home/__tests__/useHome.test.ts
  src/hooks/__tests__/use-health-check.test.ts
  src/hooks/__tests__/use-language.test.ts
  src/hooks/__tests__/use-table-keyboard-navigation.test.ts
  src/hooks/__tests__/use-theme.test.ts
  src/hooks/__tests__/use-url-validation.test.ts
  src/hooks/__tests__/use-virtual-list.test.ts
  src/libs/__tests__/health-check.test.ts
  src/libs/__tests__/logger.test.ts
  src/libs/__tests__/storage.test.ts
  src/libs/__tests__/tab-management.test.ts
  src/libs/__tests__/tab-rotation.test.ts
  src/utils/__tests__/chrome-api.test.ts
  src/utils/__tests__/integrity.test.ts
  src/utils/__tests__/rate-limiter.test.ts
  src/utils/__tests__/sanitize.test.ts
  src/utils/__tests__/url-security.test.ts
Due: biome, typescript

feat: implement URL-based tab naming and schema updates
  src/containers/home/home.schema.ts
  src/containers/home/home.tsx
  src/containers/home/useHome.ts
  src/hooks/use-tab-import-export.ts
  src/libs/__tests__/migrations.test.ts
  src/libs/migrations.ts
  src/utils/__tests__/url.test.ts
  src/utils/url.ts
Due: biome, typescript

feat: add tab behavior settings and storage management for tab handling preferences
  public/locales/en/translation.json
  public/locales/pt/translation.json
  src/background/index.ts
  src/components/index.ts
  src/components/tabBehaviorSettings/index.ts
  src/components/tabBehaviorSettings/tabBehaviorSettings.tsx
  src/containers/home/home.tsx
  src/hooks/use-tab-behavior.ts
  src/libs/storage-schemas.ts
  src/libs/storage.ts
Due: biome, typescript

feat: add update functionality for tabs with validation and toast nnotifications
  biome.json
  package.json
  pnpm-lock.yaml
  public/locales/en/translation.json
  public/locales/pt/translation.json
  src/background/__tests__/index.test.ts
  src/components/SessionManager.tsx
  src/components/tabBehaviorSettings/tabBehaviorSettings.tsx
  src/components/ui/button.tsx
  src/components/ui/form.tsx
  src/components/ui/table.tsx
  src/components/ui/toast.tsx
  src/containers/home/__tests__/useHome.test.ts
  src/containers/home/home.tsx
  src/containers/home/useHome.ts
  src/hooks/use-toast.ts
  src/libs/__tests__/migrations.test.ts
  src/libs/migrations.ts
  src/utils/notifications.ts
  tsconfig.app.json
  vite.config.ts
  vitest.config.ts
Due: biome, typescript

refactor: establishes and applies consistent coding standards
  CONTRIBUTING.md
  src/app.tsx
  src/components/__tests__/custom-input.test.tsx
  src/components/__tests__/error-boundary.test.tsx
  src/components/custom-input/custom-input.tsx
  src/components/error-boundary.tsx
  src/components/index.ts
  src/components/profiler.tsx
  src/components/session-manager.tsx
  src/components/tab-behavior-settings/index.ts
  src/components/tab-behavior-settings/tab-behavior-settings.tsx
  src/components/tabBehaviorSettings/index.ts
  src/components/ui/toaster.tsx
  src/containers/home/__tests__/use-home.test.ts
  src/containers/home/home.tsx
  src/containers/home/use-home.ts
  src/main.tsx
  src/utils/index.ts
Due: biome, typescript

fix: update dependencies to resolve 14 pnpm audit vulnerabilities
  package.json
  pnpm-lock.yaml
Due: biome

chore: add pnpm-workspace.yaml with approved build scripts
  pnpm-workspace.yaml
Due: none

chore: migrate biome config and fix lint issues
  biome.json
  public/favicon/favicon.svg
  src/assets/logo.svg
  src/libs/tab-rotation.ts
Due: biome, typescript
